# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Java
*.class

# Eclipse
bin
/.project

# Play Framework
target
.target
log
logs
