<div class="modal-header">
   <!-- Header code goes here -->
   <div class="btn-group">
      <button class="btn" ng-class="{'btn-primary':isCurrentStep(0)}" ng-click="setCurrentStep(0)">
         Connect
      </button>
      <button class="btn" ng-class="{'btn-primary':isCurrentStep(1)}" ng-click="setCurrentStep(1)">
         Choose Tables
      </button>
      <button class="btn" ng-class="{'btn-primary':isCurrentStep(2)}" ng-click="setCurrentStep(2)">
         Import
      </button>
   </div>
</div>
<div class="modal-body">
   <!-- Body code goes here -->
   <div ng-switch="getCurrentStep()" ng-animate="'slide'" class="slide-frame">
      <div ng-switch-when="connect">
         <!-- STEP ONE -->
         <fieldset>
            <div class="control-group">
               <label class="control-label" >
               <p><h4>Connect</h4></p>
               This wizard allows you to import the schema from an existing database.<br/>
               </label>
            </div>
            <div class="control-group">
               <label class="control-label" for="wiz_server_name">Server URL:</label>
               <div class="controls" >
                  <input type="text" id="wiz_server_name" placeholder="(localhost)" disabled>
               </div>
            </div>
            <div class="control-group">
               <label class="control-label" for="wiz_db_name">Database Name:</label>
               <div class="controls" >
                  <input type="text" id="wiz_db_name" 
                     placeholder="ex: customer_db_1" 
                     ng-model="import_criteria.db_name"
                     required><span style="color: red;"> <b>*</b></span>
               </div>
            </div>
            
         </fieldset>
      </div>
      <div ng-switch-when="filter">
         <!-- STEP TWO -->
         <div class="control-group">
               <label class="control-label" >
               <p><h4>Choose Tables</h4></p>
               The following tables will be imported from this database.<br/>
               </label>
            </div>
         <ul>
            <li ng-repeat="table in schema_to_import" >{{table.table_name}}</li>
         </ul>
      </div>
      <div ng-switch-when="import">
         <!-- STEP THREE -->
         <label class="control-label">
            <p><h4>Confirm</h4></p>
            <p>Clicking "Submit" will erase any tables/fields in the current mapping, any reference to/from those tables, and replace them with the tables selected in this wizard.</p>
            <p>Warning: this action cannot be undone.</p>
         </label>
      </div>
   </div>
</div>
<div class="modal-footer">
   <!-- Footer code goes here -->
   <div class="modal-footer">
      <a class="btn" ng-click="handlePrevious()" ng-show="!isFirstStep()">Back</a>
      <a class="btn btn-primary" ng-click="handleNext(dismiss)">{{getNextLabel()}}</a>
   </div>
</div>